@use './partials/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: $background;
    color: #fff;
}